.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 32px auto 0 auto;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: calc(100% - 2 * 16px);
    margin: 16px auto 0 auto;
  }
}