.place__paragraph {
  margin: 0 0 26px;
  padding: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-of-type {
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 25px auto;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: calc(100% - 2 * 16px);
    margin: 0 auto 26px auto;
  }
}