.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  min-height: 740px;
  width: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  
  
}