.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  grid-template-rows: minmax(min-content, 152px) minmax(min-content, 460px);
  gap: 40px;
}

.place:nth-child(4) {
  padding-top: 80px;
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    grid-template-rows: minmax(min-content, 92px) minmax(min-content, 440px);
    gap: 40px;
  }
  
  .place:nth-child(4) {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(min-content, 320px);
    gap: 0;
  }
}